%die-shared {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-tap-highlight-color: transparent;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        transition: all 0.2s;

        text {
            user-select: none;
        }
    }

    &:hover svg {
        transform: scale(1.1);
    }

    &:active svg {
        transform: scale(0.9);
    }
}

.die {
    &-d4 {
        @extend %die-shared;

        svg {
            fill: $d4-color;
        }
    }
    &-d6 {
        @extend %die-shared;

        svg {
            fill: $d6-color;
        }
    }
    &-d8 {
        @extend %die-shared;

        svg {
            fill: $d8-color;
        }
    }
    &-d10 {
        @extend %die-shared;

        svg {
            fill: $d10-color;
        }
    }
    &-d12 {
        @extend %die-shared;

        svg {
            fill: $d12-color;
        }
    }
    &-d20 {
        @extend %die-shared;

        svg {
            fill: $d20-color;
        }
    }
}

.btn-control {
    @extend %die-shared;

    svg {
        fill: $button-control-color;
    }
}

.react-word {
    color: #61dafb;
}

@media (max-width: 320px), (max-height: 375px) {
    .roll-total-display {
        font-size: 2.5rem;
    }
}
