.container {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 1rem;
}

#dice-roller {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}

#roll-total {
    height: 10%;
    background: $roll-total-background-color;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#roll-area {
    height: 75%;
    background: $roll-area-background-color;
    padding: 2rem 0;

    .container {
        height: 100%;

        .roll-area-content {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(20%, 0.25fr));
            justify-content: center;
        }
    }
}

#controls {
    height: 10%;
    background: $controls-background-color;

    .container {
        height: 100%;

        .controls-content {
            height: 100%;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
        }
    }
}

#main-footer {
    height: 5%;
    background: $main-footer-background-color;

    .container {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        p {
            margin-right: 1.5rem;
        }
    }
}

@media (max-width: 767px) {
    #roll-area {
        height: 65%;
    }

    #controls {
        height: 20%;

        .container {
            .controls-content {
                padding: 0.25rem 0;
                grid-template-columns: repeat(4, 1fr);
                grid-template-areas:
                    'd4 d6 d8 clear-button'
                    'd10 d12 d20 roll-button';

                .die-d4 {
                    grid-area: d4;
                }
                .die-d6 {
                    grid-area: d6;
                }
                .die-d8 {
                    grid-area: d8;
                }
                .die-10 {
                    grid-area: d10;
                }
                .die-d12 {
                    grid-area: d12;
                }
                .die-d20 {
                    grid-area: d20;
                }
                .clear-button {
                    grid-area: clear-button;
                }
                .roll-button {
                    grid-area: roll-button;
                }
            }
        }
    }
}

@media (max-height: 500px) {
    #roll-total {
        height: auto;
    }

    #roll-area {
        height: 80%;
    }

    #controls {
        height: 40%;
    }

    #main-footer {
        height: auto;
    }
}
