@media (max-height: 500px) {
    #roll-total {
        height: auto;
    }

    #roll-area {
        height: 80%;
    }

    #controls {
        height: 40%;
    }

    #main-footer {
        height: auto;
    }
}
